@charset "UTF-8";
/* ===========================================
#  mixin
============================================ */
/* ===========================================
#  color
============================================ */
/* ===========================================
#  common  共通スタイル
============================================ */
@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}

body {
  font-size: 16px;
  color: #333333;
  font-family: "ヒラギノ明朝 ProN", serif;
}

img {
  width: 100%;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 30px;
}

@media screen and (max-width: 767px) {
  .inner {
    padding: 0 20px;
  }
}

.small_inner {
  max-width: 960px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 30px;
}

@media screen and (max-width: 767px) {
  .small_inner {
    padding: 0 20px;
  }
}

/* ===========================================
#  main 共通
============================================ */
@media screen and (min-width: 768px) {
  .section {
    padding: 120px 0 180px;
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding: 50px 0 100px;
  }
}

.section_title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding: 30px 0;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .section_title {
    font-size: 30px;
    margin-bottom: 20px;
  }
}

/* ===========================================
#  header
============================================ */
.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color .5s, color .5s;
}

.header.change_color {
  background-color: rgba(255, 255, 255, 0.6);
}

.header_inner {
  align-items: center;
  display: flex;
}

.header_logo {
  font-weight: bold;
  font-size: 20px;
  line-height: 70px;
}

.drawer-menu {
  display: flex;
}

@media screen and (max-width: 767px) {
  .drawer-menu {
    display: block;
    text-align: center;
    margin-top: 70px;
  }
}

.header_nav {
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .drawer_list + .drawer_list {
    margin-left: 30px;
  }
}

.drawer-menu-item {
  padding: 20px 5px;
  color: #333333;
  line-height: 1.5;
  display: block;
}

.drawer-menu-item:hover {
  text-decoration: none;
  color: #e78ebb;
}

/* ===========================================
#  top
============================================ */
.top {
  background: url(/img/top.jpg) center/100% no-repeat;
  padding-top: 66.66%;
  position: relative;
}

.top_contents {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
}

.top_message {
  font-size: 30px;
  text-align: center;
}

.top_footer {
  margin-top: 50px;
  text-align: center;
}

.contact_link {
  padding: 15px 40px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #333333;
  border-radius: 10px;
  transition: all .5s;
}

.contact_link:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

/* ===========================================
#  about
============================================ */
@media screen and (max-width: 767px) {
  .about_contents {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .about_contents {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .about_left {
    position: relative;
    flex: 0 0 400px;
  }
}

@media screen and (max-width: 767px) {
  .about_picture {
    height: 270px;
    overflow: hidden;
  }
  .about_picture img {
    transform: translateY(-30%);
  }
}

@media screen and (min-width: 768px) {
  .about_picture {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .about_picture img {
    border-radius: 50%;
  }
}

.about_title {
  text-align: left;
}

@media screen and (min-width: 768px) {
  .about_me {
    padding-bottom: 70px;
    margin-left: 50px;
    flex: 0 1 100%;
  }
}

.about_me_title {
  font-size: 20px;
  font-weight: bold;
}

.about_me_text {
  margin-top: 20px;
  line-height: 1.5;
}

/* ===========================================
#  skill
============================================ */
.skill {
  background: rgba(243, 214, 222, 0.3);
}

.skill_contents {
  margin: 0 auto;
  background: #fff;
  padding: 60px 0;
  box-shadow: 12px 12px 12px rgba(109, 107, 107, 0.1);
  display: flex;
  max-width: 960px;
}

@media screen and (max-width: 767px) {
  .skill_contents {
    display: block;
    padding: 30px 0;
  }
}

.skill_title {
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .skill_title {
    position: relative;
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .skill_title_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 767px) {
  .skill_title_content {
    display: flex;
    justify-content: center;
  }
}

.skill_title_icon {
  font-size: 50px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .skill_title_icon {
    font-size: 100px;
    text-align: center;
  }
}

.skill_title_text {
  font-weight: bold;
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .skill_title_text {
    font-size: 18px;
    margin: auto 20px;
  }
}

@media screen and (max-width: 767px) {
  .skill_right {
    margin: 0 50px;
  }
}

@media screen and (min-width: 768px) {
  .skill_right {
    padding: 30px 0;
    width: 50%;
  }
}

.skill_right_content {
  display: flex;
}

.skill_right_content + .skill_right_content {
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .skill_right_content {
    margin-top: 30px;
  }
}

.skill_icon {
  font-size: 40px;
  position: relative;
  flex: 0 0 30%;
}

.skill_icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.skill_text {
  display: inline-block;
  padding: 10px;
  margin-right: 30px;
  flex: 0 1 100%;
}

@media screen and (max-width: 767px) {
  .skill_text {
    padding: 20px;
    text-align: left;
  }
}

/* ===========================================
#  works
============================================ */
.works {
  background: rgba(236, 234, 217, 0.3);
}

.works_contents {
  display: flex;
}

@media screen and (max-width: 767px) {
  .works_contents {
    display: block;
  }
}

.works_content {
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  padding: 30px;
}

@media screen and (max-width: 767px) {
  .works_content {
    margin: 0 50px;
  }
  .works_content + .works_content {
    margin-top: 50px;
  }
}

@media screen and (min-width: 768px) {
  .works_content + .works_content {
    margin-left: 20px;
  }
}

.works_picture {
  margin: 0 auto;
  transition: transform .5s;
  overflow: hidden;
  max-width: 300px;
  height: 170px;
}

@media screen and (max-width: 767px) {
  .works_picture {
    height: 100px;
  }
}

.works_picture:hover {
  transform: scale(1.05);
}

.works_text {
  display: inline-block;
  margin-top: 20px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  font-size: 14px;
}

/* ===========================================
#  contact
============================================ */
.contact {
  background: url(/img/contact.jpg) top left/cover;
}

.contact_form {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 12px 12px 12px rgba(109, 107, 107, 0.4);
}

.contact-message {
  display: none;
}

.contact_email {
  text-align: center;
  margin: 30px 0;
}

.cf_email {
  margin-top: 10px;
}

/* ===========================================
#  footer
============================================ */
.footer {
  background: #f3d6de;
  padding: 24px 0;
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 10px 0;
  }
}

.footer_inner {
  text-align: center;
}

.copy_right {
  font-size: 14px;
  line-height: 1.5;
  padding: 20px 0;
}

@media screen and (max-width: 767px) {
  .copy_right {
    font-size: 10px;
  }
}

.totop {
  position: fixed;
  right: 24px;
  bottom: 24px;
  height: 60px;
  width: 60px;
  background: #e78ebb;
  opacity: .5;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

.totop i {
  font-size: 60px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.9);
}

@media screen and (max-width: 767px) {
  .totop {
    right: 12px;
    bottom: 12px;
    height: 40px;
    width: 40px;
  }
  .totop i {
    font-size: 40px;
  }
}
